body {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	overflow-x: hidden;
}

p {
	font-size: 20px;
}

p.small {
	font-size: 16px;
}

a,
a.active,
a:active,
a:focus,
a:hover {
	color: #d31619;
	outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}

.img-centered {
	margin: 0 auto;
}

section {
	padding: 100px 0;
}
section h2 {
	font-size: 3em;
	margin: 0;
}

section.success {
	color: white;
	background: #636e6d;
}

@media (max-width: 767px) {
	section {
		padding: 75px 0;
	}

	section.first {
		padding-top: 75px;
	}
}

.scroll-top {
	position: fixed;
	z-index: 1049;
	right: 2%;
	bottom: 2%;
	width: 50px;
	height: 50px;
}
.scroll-top .btn {
	font-size: 16px;
	line-height: 28px;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 100%;
}
.scroll-top .btn:focus {
	outline: none;
}

header.masthead {
	padding-top: 100px;
	padding-bottom: 50px;
	text-align: center;
	color: white;
	background: #ea4042;
	height: 50vh;
}

header.masthead img {
	display: block;
	margin: 0 auto 50px;
}
header.masthead .intro-text .name {
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 2em;
	font-weight: 700;
	display: block;
	text-transform: uppercase;
}
header.masthead .intro-text .skills {
	font-size: 1.25em;
	font-weight: 300;
}

@media (min-width: 768px) {
	header.masthead {
		height: 100vh;
		padding-top: 200px;
		padding-bottom: 100px;
	}
	header.masthead .intro-text .name {
		font-size: 4.75em;
	}
	header.masthead .intro-text .skills {
		font-size: 1.75em;
	}
}

#portfolio .portfolio-item {
	right: 0;
	margin: 0 0 15px;
}
#portfolio .portfolio-item .portfolio-link {
	position: relative;
	display: block;
	max-width: 400px;
	margin: 0 auto;
	cursor: pointer;
}

#portfolio .portfolio-item .portfolio-link:hover {
	text-decoration: none;
}
#portfolio .portfolio-item .portfolio-link .caption {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-transition: all ease .5s;
	   -moz-transition: all ease .5s;
	        transition: all ease .5s;
	opacity: 0;
	background: rgba(100, 106, 111, .8);
}
#portfolio .portfolio-item .portfolio-link .caption:hover {
	opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content {
	font-size: 20px;
	position: absolute;
	top: 50%;
	width: 100%;
	height: 20px;
	margin-top: -12px;
	text-align: center;
	color: white;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
	margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
	margin: 0;
}

#portfolio .portfolio-item .portfolio-link img {
	width: 80%;
}

#portfolio .portfolio-item .portfolio-link h1 {
	color: #ea4042;
}

#portfolio .portfolio-item .portfolio-link p {
	color: #595b5c;
}

#portfolio * {
	z-index: 2;
}


@media (min-width: 767px) {
	#portfolio .portfolio-item {
		margin: 0 0 30px;
	}
}

.portfolio-modal .modal-dialog {
	max-width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	border: none;
	border-radius: 0;
	background-clip: border-box;
	-webkit-box-shadow: none;
	        box-shadow: none;
}


.portfolio-modal .modal-dialog .modal-content {
	padding: 100px 0;
	border: 0;
	border-radius: 0;
}
.portfolio-modal .modal-dialog .modal-content h2 {
	font-size: 3em;
	margin: 0;
}
.portfolio-modal .modal-dialog .modal-content img {
	width: 50%;
	margin-bottom: 30px;
}
.portfolio-modal .modal-dialog .modal-content .item-details {
	margin: 30px 0;
}

.portfolio-modal .close-modal {
	position: absolute;
	top: 25px;
	right: 25px;
	width: 75px;
	height: 75px;
	cursor: pointer;
	background-color: transparent;
}
.portfolio-modal .close-modal:hover {
	opacity: .3;
}
.portfolio-modal .close-modal .lr {
	/* Safari and Chrome */
	z-index: 1051;
	width: 1px;
	height: 75px;
	margin-left: 35px;
	/* IE 9 */
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
	background-color: #2c3e50;
}
.portfolio-modal .close-modal .lr .rl {
	/* Safari and Chrome */
	z-index: 1052;
	width: 1px;
	height: 75px;
	/* IE 9 */
	-webkit-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	        transform: rotate(90deg);
	background-color: #2c3e50;
}

.portfolio-modal .modal-backdrop {
	display: none;
	opacity: 0;
}

.floating-label-form-group {
	position: relative;
	margin-bottom: 0;
	padding-bottom: .5em;
	border-bottom: 1px solid #eee;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
	font-size: 1.5em;
	position: relative;
	z-index: 1;
	padding-right: 0;
	padding-left: 0;
	resize: none;
	border: none;
	border-radius: 0;
	background: none;
	box-shadow: none !important;
}
.floating-label-form-group label {
	font-size: .85em;
	line-height: 1.764705882em;
	position: relative;
	z-index: 0;
	top: 2em;
	display: block;
	margin: 0;
	-webkit-transition: top .3s ease, opacity .3s ease;
	   -moz-transition: top .3s ease, opacity .3s ease;
	    -ms-transition: top .3s ease, opacity .3s ease;
	        transition: top .3s ease, opacity .3s ease;
	vertical-align: middle;
	vertical-align: baseline;
	opacity: 0;
}
.floating-label-form-group:not(:first-child) {
	padding-left: 14px;
	border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
	top: 0;
	opacity: 1;
}

.floating-label-form-group-with-focus label {
	color: #18bc9c;
}

form .row:first-child .floating-label-form-group {
	border-top: 1px solid #eee;
}

footer {
	color: white;
}
footer h3 {
	margin-bottom: 30px;
}
footer .footer-above {
	padding-top: 50px;
	background-color: #ea4042;
}
footer .footer-col {
	margin-bottom: 50px;
}
footer .footer-below {
	padding: 25px 0;
	background-color: #595b5c;
}

footer .footer-col a {
	color: #595b5c;
}

.btn-outline {
	font-size: 20px;
	margin-top: 15px;
	transition: all .3s ease-in-out;
	color: white;
	border: solid 2px white;
	background: transparent;
}
.btn-outline.active,
.btn-outline:active,
.btn-outline:focus,
.btn-outline:hover {
	color: #ea4042;
	border: solid 2px white;
	background: white;
}

.btn-primary {
	font-weight: 700;
	color: white;
	border-color: #2c3e50;
	background-color: #2c3e50;
}
.btn-primary.focus,
.btn-primary:focus {
	color: white;
	border-color: black;
	background-color: #1a252f;
}
.btn-primary:hover {
	color: white;
	border-color: #161f29;
	background-color: #1a252f;
}
.btn-primary.active,
.btn-primary:active,
.open > .btn-primary.dropdown-toggle {
	color: white;
	border-color: #161f29;
	background-color: #1a252f;
}
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .btn-primary.dropdown-toggle.focus,
.open > .btn-primary.dropdown-toggle:focus,
.open > .btn-primary.dropdown-toggle:hover {
	color: white;
	border-color: black;
	background-color: #0d1318;
}
.btn-primary.active,
.btn-primary:active,
.open > .btn-primary.dropdown-toggle {
	background-image: none;
}
.btn-primary.disabled.focus,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled].focus,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
	border-color: #2c3e50;
	background-color: #2c3e50;
}
.btn-primary .badge {
	color: #2c3e50;
	background-color: white;
}

.btn-success {
	font-weight: 700;
	color: white;
	border-color: #ea4042;
	background-color: #ea4042;
}
.btn-success.focus,
.btn-success:focus {
	color: white;
	border-color: #636e6d;
	background-color: #636e6d;
}
.btn-success:hover {
	color: white;
	border-color: #636e6d;
	background-color: #636e6d;
}
.btn-success.active,
.btn-success:active,
.open > .btn-success.dropdown-toggle {
	color: white;
	border-color: #11866f;
	background-color: #128f76;
}
.btn-success.active.focus,
.btn-success.active:focus,
.btn-success.active:hover,
.btn-success:active.focus,
.btn-success:active:focus,
.btn-success:active:hover,
.open > .btn-success.dropdown-toggle.focus,
.open > .btn-success.dropdown-toggle:focus,
.open > .btn-success.dropdown-toggle:hover {
	color: white;
	border-color: #0a4b3e;
	background-color: #0e6f5c;
}
.btn-success.active,
.btn-success:active,
.open > .btn-success.dropdown-toggle {
	background-image: none;
}
.btn-success.disabled.focus,
.btn-success.disabled:focus,
.btn-success.disabled:hover,
.btn-success[disabled].focus,
.btn-success[disabled]:focus,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success.focus,
fieldset[disabled] .btn-success:focus,
fieldset[disabled] .btn-success:hover {
	border-color: #18bc9c;
	background-color: #18bc9c;
}
.btn-success .badge {
	color: #18bc9c;
	background-color: white;
}

.btn-social {
	font-size: 20px;
	line-height: 45px;
	display: inline-block;
	width: 50px;
	height: 50px;
	text-align: center;
	border: 2px solid white;
	border-radius: 100%;
}

.btn-social:hover {
	background: #555;
}

.btn.active,
.btn:active,
.btn:focus {
	outline: none;
}

.up {
	transform: rotate(180deg);
}

.go-up {
	z-index: 10000000;
	width: 4rem;
	height: 4rem;
	background: #212529 url(../assets/svg/down-arrow.svg) no-repeat center;
	background-size: 50%;
	border-radius: 100%;
	position: fixed;
	bottom: 1rem;
	right: 1rem;
}
